package partials

templ Nav() {
    <div class="navbar bg-primary text-primary-content px-4">
        <div class="flex-1">
            <a hx-get="/" hx-push-url="true" hx-target="#main" class="btn btn-ghost text-lg font-semibold">ZapByte</a>
        </div>
        <div class="flex-none space-x-2">
            <a hx-get="/tutorials" hx-push-url="true" hx-target="#main" class="btn btn-sm btn-outline">Tutorials</a>
        </div>
    </div>
}
