package partials

templ Nav() {
	<div class="navbar bg-primary text-primary-content px-4 flex justify-between">
		<a hx-get="/" hx-push-url="true" hx-target="#main" class="btn btn-ghost text-lg font-semibold">NexZap</a>
		<a href="https://buymeacoffee.com/noahcode" target="_blank" class="btn btn-soft btn-primary text-sm font-semibold">
			Buy me a coffee
		</a>
	</div>
}
