package pages

import "zapbyte/templates/layouts"

templ Tutorial(fromHtmx bool) {
	if fromHtmx {
		<title id="title" hx-swap-oob="#title">ZapByte - Tutorial</title>
		<h1 class="text-3xl font-bold mb-4">Welcome to ZapByte</h1>
		<p class="text-lg">Start by python</p>
	} else {
		@layouts.Base("ZapByte - Tutorial") {
			<h1 class="text-3xl font-bold mb-4">Welcome to ZapByte</h1>
			<p class="text-lg">Start by python</p>
		}
	}
}
